<a href="https://colab.research.google.com/github/Sidhtang/data-assignment-reuninon/blob/main/problem_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load the data from the Excel file
df = pd.read_excel('Time Series.xlsx')

# Convert the 'Start' and 'End' columns to datetime format
df['Start'] = pd.to_datetime(df['Start'])
df['End'] = pd.to_datetime(df['End'])

# Sort the data by 'Name' and 'Start'
df = df.sort_values(by=['Name', 'Start'])

# Initialize an empty list to store the aggregated data
aggregated_data = []

# Iterate over each bot
for name in df['Name'].unique():
    bot_df = df[df['Name'] == name]

    # Initialize the current period start and end times
    period_start = bot_df['Start'].min()
    period_end = period_start

    # Initialize an empty list to store the activities for the current period
    activities = []

    # Iterate over each task
    for index, row in bot_df.iterrows():
        # If the task starts after the current period end, start a new period
        if row['Start'] > period_end:
            # Add the current period to the aggregated data
            aggregated_data.append((name, period_start, period_end, activities))

            # Reset the period start and end times
            period_start = row['Start']
            period_end = row['End']
            activities = [row['Activity']]
        else:
            # Update the period end time if the task ends later
            period_end = max(period_end, row['End'])
            activities.append(row['Activity'])

    # Add the last period to the aggregated data
    aggregated_data.append((name, period_start, period_end, activities))

# Create a new DataFrame with the aggregated data
aggregated_df = pd.DataFrame(aggregated_data, columns=['Name', 'Start Time', 'End Time', 'Activities'])

# Print the aggregated data
print(aggregated_df)

        Name              Start Time                End Time  \
0     Deepti 2023-03-29 15:31:52.620 2023-10-15 15:31:52.620
1      Jyoti 2023-03-29 15:31:52.620 2023-10-15 13:07:52.620
2   Priyanka 2023-03-29 15:31:52.620 2023-10-15 15:31:52.620
3       Ravi 2023-03-29 15:31:52.620 2023-10-15 08:19:52.620
4       Ravi 2023-10-15 10:43:52.620 2023-06-10 17:55:52.620
5       Ravi 2023-10-15 10:43:52.620 2023-06-28 13:07:52.620
6       Ravi 2023-10-15 10:43:52.620 2023-07-26 01:07:52.620
7       Ravi 2023-10-15 10:43:52.620 2023-07-06 13:07:52.620
8       Ravi 2023-10-15 13:07:52.620 2023-04-18 10:43:52.620
9       Ravi 2023-10-15 13:07:52.620 2023-08-27 08:19:52.620
10    Sharan 2023-03-29 15:31:52.620 2023-10-15 05:55:52.620
11    Sharan 2023-10-15 08:19:52.620 2023-07-20 08:19:52.620
12    Sharan 2023-10-15 08:19:52.620 2023-08-14 17:55:52.620
13    Sharan 2023-10-15 08:19:52.620 2023-04-08 05:55:52.620
14    Sharan 2023-10-15 15:31:52.620 2023-07-23 17:55:52.620

                                           Activities
0   [Business Development, Reply to Customers, Sen...
1   [Business Development, Inspection, Fund raisin...
2   [Business Development, Remote Inspection, Podc...
3   [Call, Call, Fund raising, Call, Fund raising,...
4                                        [Send Email]
5                                         [Reporting]
6                                        [Inspection]
7                                        [Inspection]
8                                        [Send Email]
9                                           [Podcast]
10  [Inspection, Send Email, Fund raising, Updates...
11                                     [Fund raising]
12                                        [Reporting]
13                                          [Podcast]
14                                     [Fund raising]